<template>
 <v-container fluid>
  <div style="z-index: 1; display: flex; justify-content: space-between; align-items: center; align-content: center">
   <v-btn @click.native="goback" dark>Back</v-btn>
  </div>
  <h2 style="position: relative; top: -2rem; z-index: -1">New Room</h2>

  <v-form @submit="onSubmit">
   <v-text-field id="roomname" v-model.trim="room.roomName" placeholder="Enter Room Name"></v-text-field>
   <v-btn type="submit" variant="primary" :disabled="!room.roomName">Add</v-btn>
  </v-form>
 </v-container>
</template>

<script>
import firebase from "firebase";
export default {
 name: "AddRoom",
 components: {},
 data() {
  return {
   ref: firebase.database().ref("chatrooms/"),
   room: { roomName: "" },
  };
 },
 created() {},
 methods: {
  onSubmit(evt) {
   evt.preventDefault();

   let newData = this.ref.push();
   newData
    .set({
     roomName: this.room.roomName,
     createdDate: Date(),
    })
    .then(() => {
     this.$router.go(-1);
    })

    .catch((error) => {
     alert("Error adding document: ", error);
    });
  },
  goback() {
   this.$router.go(-1);
  },
 },
 computed: {},
 watch: {},
};
</script>
