<template>
 <v-container fluid class="for-chat">
  <div>
   <div style="z-index: 1; display: flex; justify-content: space-between; align-items: center; align-content: center">
    <v-btn @click.native="exitChat" dark>Back</v-btn>
   </div>
   <h2 style="position: relative; top: -2rem; z-index: -1">{{ roomname }}</h2>
  </div>

  <!-- <h2 class="centered">
   {{ roomname }}
   <v-btn @click="exitChat()">(Exit Chat)</v-btn>
  </h2> -->

  <div @click="show_emoji_component = false" class="chat-box" v-chat-scroll :class="show_emoji_component ? 'increase-pb' : ''">
   <v-list class="chat-item" v-for="chat in chats" :key="chat.key">
    <!-- <div class="chat-status text-center" v-if="chat.type === 'join' || chat.type === 'exit'">
     <span class="chat-date">{{ chat.sendDate }}</span>
     <span class="chat-content-center">{{ chat.message }}</span>
    </div> -->
    <div :class="chat.user === nickname ? 'for-right' : 'for-left'">
     <div class="chat-message text-right" v-if="chat.user === nickname">
      <div class="right-bubble">
       <span class="msg-name">Me</span>
       <span class="msg-date">{{ chat.sendDate }}</span>
       <p text-wrap>{{ chat.message }}</p>
      </div>
     </div>
     <div class="chat-message text-left" text-left v-if="chat.user !== nickname">
      <div class="left-bubble">
       <span class="msg-name">{{ chat.user }}</span>
       <span class="msg-date">{{ chat.sendDate }}</span>
       <p text-wrap>{{ chat.message }}</p>
      </div>
     </div>
    </div>
   </v-list>
  </div>
  <emoji-picker v-show="show_emoji_component" @emoji_click="append"></emoji-picker>
  <footer class="sticky-footer">
   <div>
    <v-row style="align-items: baseline">
     <div class="emoji-invoker" @click="show_emoji_component = !show_emoji_component">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-grey">
       <path d="M0 0h24v24H0z" fill="none"></path>
       <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"></path>
      </svg>
     </div>
     <v-text-field v-on:keyup.enter="onSubmit" placeholder="Enter your messages" id="message" v-model.trim="data.message"></v-text-field>
     <v-btn @click="onSubmit" variant="primary" :disabled="!data.message"> Send </v-btn>
    </v-row>
   </div>
  </footer>
 </v-container>
</template>

<script>
import firebase from "firebase";
import EmojiPicker from "../emoji/EmojiPicker.vue";
import $ from "jquery";

export default {
 name: "Chat",
 components: {
  EmojiPicker,
 },
 data() {
  return {
   roomid: this.$route.params.roomid,
   roomname: this.$route.params.roomname,
   nickname: this.$route.params.nickname,
   data: { type: "", nickname: "", message: "" },
   chats: [],
   errors: [],
   offStatus: false,
   search: "",
   show_emoji_component: false,
   interval: "",
   randomSpeeds: 0,
   delay: 100, // The higher, the more delay
   startScreenPercentage: 0.01, // starts from 70% of the screen...
   endScreenPercentage: 0.99, // ...till 100% (end) of the screen
  };
 },
 watch: {},
 created() {
  let joinData = firebase.database().ref('chatrooms/'+this.roomid+'/chats').push();
  joinData.set({
    type: 'join',
    user: this.nickname,
    message: this.nickname+' has joined this room.',
    sendDate: Date()
  });

  this.data.message = "";

  firebase
   .database()
   .ref("chatrooms/" + this.roomid + "/chats")
   .on("value", (snapshot) => {
    this.chats = [];
    snapshot.forEach((doc) => {
     let item = doc.val();
     item.key = doc.key;
     this.chats.push(item);
    });
   });
 },
 methods: {
  append(emoji) {
   this.data.message += emoji.emoji;
   this.triggerthis(emoji.key);
  },
  getKeyByValue(object, value) {
   return Object.keys(object).find((key) => object[key] === value);
  },
  triggerthis(emoji) {
   let self = this;
   // ---------- PARAMETERS ---------
   this.randomSpeeds = this.getRandomInteger(2000, 5000); // The lower, the faster
   // this.randomSpeeds = 5000

   self.interval = setInterval(function () {
    let cur_val = emoji;
    for (let index = 0; index < 20; index++) {
     $("body").append(`<img class="particle particle-${index}" src="https://cdn4.iconfinder.com/data/icons/reaction/32/${cur_val}-512.png" />`);
     $(".particle-" + index).css("left", Math.random() * $("body").width());

     $(".particle")
      .toArray()
      .forEach(function (particle) {
       var bounds = self.getRandomInteger($("body").width() * self.startScreenPercentage, $("body").width() * self.endScreenPercentage);
       $(particle).animate({ left: bounds, right: bounds }, self.delay, function () {
        $(particle).animate({ top: "-100%", opacity: 0 }, self.randomSpeeds, function () {
         $(particle).remove();
        });
       });
      }); /* forEach particle Loop close*/
     clearInterval(self.interval);
    }
   }, 1);
  },
  getRandomInteger(min, max) {
   return Math.floor(Math.random() * (max - min + 1)) + min;
  },

  onSubmit(evt) {
   evt.preventDefault();
   this.show_emoji_component = false;
   let newData = firebase
    .database()
    .ref("chatrooms/" + this.roomid + "/chats")
    .push();
   newData.set({
    type: "newmsg",
    user: this.nickname,
    message: this.data.message,
    sendDate: Date(),
   });
   this.data.message = "";
  },
  exitChat() {
      let exitData = firebase
       .database()
       .ref("chatrooms/" + this.roomid + "/chats")
       .push();
      exitData.set({
       type: "exit",
       user: this.nickname,
       message: this.nickname + " has exited this room.",
       sendDate: Date(),
      });

   this.offStatus = true;
   this.$router.go(-1);
  },
 },
};
</script>

<style>
.wrapper {
 position: relative;
 display: inline-block;
}

.centered {
 position: fixed;
 left: 50%;
 transform: translate(-50%, 0);
 z-index: 10;
 width: 100%;
 background-color: darkgray;
 top: 0;
 padding: 1rem;
}

.v-list-item {
 padding: 3px 16px !important;
}

.particle {
 display: inline-flex;
 position: absolute;
 height: 2rem;
 width: 2rem;
 top: 100%;
 z-index: 50;
}

img {
 width: 40px;
 height: 40px;
}

.for-chat .v-text-field input {
 padding-left: 2.5rem !important;
 padding-right: 1rem !important;
}

.chat-box {
 height: 600px;
 width: 100%;
 overflow: scroll;
 padding-bottom: 5rem;
}
.increase-pb {
 padding-bottom: 22rem;
}
.chat-item {
 border: none;
}
.chat-status {
 min-height: 49px;
}
.chat-status .chat-date {
 display: block;
 font-size: 10px;
 font-style: italic;
 color: #999;
 height: 15px;
 left: 10%;
 right: 10%;
}
.chat-status .chat-content-center {
 padding: 5px 10px;
 background-color: #e1e1f7;
 border-radius: 6px;
 font-size: 12px;
 color: #555;
 height: 34px;
 left: 10%;
 right: 10%;
}
.chat-message {
 width: 60%;
 min-height: 40px;
}

.for-left {
 display: flex !important;
 flex-direction: row !important;
}

.for-right {
 /* padding-right: 9rem !important; */
 display: flex !important;
 flex-direction: row-reverse !important;
}

.chat-message .right-bubble {
 position: relative;
 background: #dcf8c6;
 border-top-left-radius: 0.4em;
 border-bottom-left-radius: 0.4em;
 border-bottom-right-radius: 0.4em;
 padding: 5px 10px 10px;
 right: 2rem;
}
.chat-message .right-bubble span.msg-name {
 font-size: 12px;
 font-weight: bold;
 color: green;
 display: block;
}
.chat-message .right-bubble span.msg-date {
 font-size: 10px;
 display: block;
}
.chat-message .right-bubble:after {
 content: "";
 position: absolute;
 right: 0;
 top: 0;
 width: 0;
 height: 0;
 border: 27px solid transparent;
 border-left-color: #dcf8c6;
 border-right: 0;
 border-top: 0;
 margin-top: -0.5px;
 margin-right: -27px;
}
.chat-message .left-bubble {
 position: relative;
 background: #efefef;
 border-top-right-radius: 0.4em;
 border-bottom-left-radius: 0.4em;
 border-bottom-right-radius: 0.4em;
 padding: 5px 10px 10px;
 left: 2rem;
}
.chat-message .left-bubble span.msg-name {
 font-size: 12px;
 font-weight: bold;
 color: blue;
 display: block;
}
.chat-message .left-bubble span.msg-date {
 font-size: 10px;
 display: block;
}
.chat-message .left-bubble:after {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 0;
 height: 0;
 border: 27px solid transparent;
 border-right-color: #efefef;
 border-left: 0;
 border-top: 0;
 margin-top: -0.5px;
 margin-left: -27px;
}
footer.sticky-footer {
 position: fixed;
 bottom: 0;
 left: 0;
 width: 100%;
 padding: 10px;
 background-color: #ffffff;
 border-top: solid 1px #efefef;
}

.emoji-invoker {
 position: absolute;
 top: 1rem;
 left: 0.5rem;
 width: 1.5rem;
 height: 1.5rem;
 border-radius: 50%;
 cursor: pointer;
 transition: all 0.2s;
 padding: 0;
 background: transparent;
 border: 0;
 z-index: 100;
}
.emoji-invoker:hover {
 transform: scale(1.1);
}
.emoji-invoker > svg {
 fill: #b1c6d0;
}
</style>
