<template>
 <v-container fluid>
  <h2>Login as</h2>

  <v-form @submit="onSubmit">
   <v-text-field id="nickname" v-model.trim="login.nickname" placeholder="Enter your nickname"></v-text-field>
   <v-btn type="submit" variant="primary" :disabled="!login.nickname">Start Chat</v-btn>
  </v-form>
 </v-container>
</template>

<script>
export default {
 name: "Login",
 components: {},
 data() {
  return {
   login: {
    nickname: "",
   },
  };
 },
 created() {},
 methods: {
  onSubmit(evt) {
   evt.preventDefault();

   this.$router.push({
    name: "RoomList",
    params: { nickname: this.login.nickname },
   });
  },
 },
 computed: {},
 watch: {},
};
</script>

<style scoped>
.v-text-field input {
 padding-left: 0px;
 padding-right: 0px;
}
</style>
