<template>
 <v-container fluid>
  <div style="display: flex; justify-content: space-between; align-items: center; align-content: center">
   <v-btn @click.native="goback" dark>Back</v-btn>
   <h2>Room List</h2>
   <v-btn @click.native="addRoom">Add Room</v-btn>
   <!-- <router-link to="/add-room" tag="v-btn">Add Room</router-link> -->
  </div>

  <template v-for="(room, index) in rooms">
   <v-list-item :key="room.key" :to="{ name: 'Chat', params: { nickname: nickname, roomid: room.key, roomname: room.roomName } }">
    <v-list-item-content>
     <v-list-item-title style="font-size: 1.1rem" v-html="room.roomName"></v-list-item-title>
     <v-list-item-subtitle v-if="room.chats" v-html="lastChat(room.chats)"></v-list-item-subtitle>
     <v-list-item-subtitle v-else>Start Chatting Now!!</v-list-item-subtitle>
    </v-list-item-content>
   </v-list-item>
   <v-divider :key="index"></v-divider>
  </template>

  <v-list v-if="false">
   <v-list-item-group>
    <v-list-item v-for="room in rooms" :key="room.key" :to="{ name: 'Chat', params: { nickname: nickname, roomid: room.key, roomname: room.roomName } }">
     {{ room.roomName }}
    </v-list-item>
   </v-list-item-group>
  </v-list>
 </v-container>
</template>

<script>
import firebase from "firebase";
export default {
 name: "RoomList",
 components: {},
 data() {
  return {
   nickname: this.$route.params.nickname,
   rooms: [],
   errors: [],
   ref: firebase.database().ref("chatrooms/"),
  };
 },
 created() {
  this.ref.on("value", (snapshot) => {
   this.rooms = [];
   snapshot.forEach((doc) => {
    let item = doc.val();
    item.key = doc.key;
    this.rooms.push(item);
   });
  });
 },
 methods: {
  goback() {
   this.$router.push("/");
  },
  addRoom() {
   this.$router.push("/add-room");
  },
  lastChat(chat) {
   let lastKey = "",
    lastValue = "";

   const reversedKeys = Object.keys(chat).reverse();
   reversedKeys.forEach((key) => {
    if (chat[key].type == "newmsg") {
     if (lastKey == "") {
      lastKey = key;
     }
     if (lastValue == "") {
      lastValue = chat[key];
     }
    }
   });
   if (lastValue == "") return "Start Chatting Now!!";
   return `<b>${lastValue.user}</b> : <span>${lastValue.message}</span>`;
  },
 },
 computed: {},
 watch: {},
};
</script>

<style scoped>
.table {
 width: 96%;
 margin: 0 auto;
}
</style>
